body{
    margin: 10rem;
    text-align: center;
    list-style-position:unset;
     font-family: sans-serif;
}

ul{
    list-style-type: none;
}
nav{
     border: 2px solid black ;
     border-top: 10px;
     border-left-color: 20px solid black;
     /* Yep so I was getting a problem with my project but I fixed it with this simple manuplation */
     border-radius: 2rem;
     max-width: 600px;
     max-height: 1000px;
     margin:0 auto 1rem;
     font-size: 4rem;
     line-height: 7rem;
    
}
h2{
    padding: 1rem;
    background-color: darkgoldenrod;
    border-radius: 2rem 2rem 0 0;
}

li{
    border-top: 1px solid black;
}
a{
    text-decoration: none;
    cursor: url(/Users/kshitijsharma/Desktop/Kshitij Photo.jpg), auto ;
}
a:hover{
    color: chartreuse;
}
a:visited{
    color: black;
}